.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.App-body {
  flex: 1;
}
.App-body > p {
  font-size: 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: solid rgb(207, 17, 17) 8px;
  padding-bottom: 2rem;
}
